[2015-03-25 11:16] shamasis opened #1 "Bypass the requirement to have `transactionId` database column"

[2015-03-30 15:55] shamasis opened #2 "callback is not executed when error is faced upon `transaction.commit()`"

[2015-04-03 18:46] shamasis commented on #2
:shipit: Issue addressed in release `0.1.2`

[2015-04-03 18:46] #2 closed

[2015-04-23 19:22] shamasis opened #3 "Support for automatic rollback after a timeout of inactivity"

[2015-06-23 23:12] shamasis opened #5 "Support for read-replicas"

[2015-06-23 23:13] shamasis opened #6 "Support for a unified error and rollback event"

[2015-06-26 13:12] shamasis commented on #5
PR #7 addresses this.

[2015-06-26 13:12] #5 closed

[2015-07-09 06:05] kchodankar opened #9 "Installation fails for window"
Hi,

I tried to install the package according to the given instructions. But it doesn't work on Windows 7.
I get the following error:

'scripts' is not recognized as an internal or external command,

[2015-07-13 10:44] shamasis commented on #9
The `postinstall` script is not compatible with Windows out of the box. We have not tried the installer on Windows yet. Will get around to it and update this thread asap.

[2015-08-12 17:19] shamasis opened #12 "Handling for multiple connection definitions"
Seems like present adapter setup and teardown does not account for multiple connection definitions

[2015-08-12 18:18] shamasis opened #13 "Fix README Travis badge"
It should be URL pointing to https://travis-ci.org/postmanlabs/sails-mysql-transactions

[2015-09-21 05:01] zaheershaik opened #15 "Entity not found on executing findOne within transaction"
Here are sequence of steps involved which result in the issue.

1. Save entity using `.create()` within a transaction
2. Retrieve entity using `.findOne()` within the same transaction with the id of the entity from step 1
3. The result of step 2 is an undefined entity

Am I doing something wrong here?

[2015-09-21 05:13] zaheershaik commented on #15
Here is the code snippet.

[code]

Result:
`
Order after persist  {
  status: 'new',
  createdAt: '2015-09-21T05:09:27.703Z',
  updatedAt: '2015-09-21T05:09:27.703Z',
  id: 841 }`
`Order after persist and get  undefined`

[2015-09-21 05:44] zaheershaik commented on #15
The issue went away after I reinstalled sails and sails-mysql-transactions modules. False alarm I guess.

[2015-09-21 05:44] #15 closed

[2015-09-22 03:28] bputt opened #16 "Remove transactionId from results"
If I do the following:

[code]

The array contains objects and one of the values in the object is transactionId. Currently I'm looping through the data and deleting that field.

[2015-09-24 04:22] Mararesliu opened #17 "use sails-mysql-transactions rollback fail, but mysql terminal success"
use sails-mysql-transactions rollback fail, mysql log is right, but can not rollback.

[2015-09-24 07:51] shamasis commented on #16
This is currently a limitation of the implementation. The transaction ID field is required in order to get waterline to pass the id from controller / model to the adapter.

We are working to modify waterline so that this behaviour is no longer needed.

[2015-09-24 07:53] shamasis commented on #17
Hope you're using the latest version.

Can you post a snippet if code that you're using and also what's the exact error message?

[2015-09-24 09:52] Mararesliu commented on #17
Thx, i use newest version 0.3.2.
In controller snippet code
 // start a new transaction
        Transaction.start(function (err, transaction) {
            if (err) {
                // the first error might even fail to return a transaction object, so double-check.
                transaction && transaction.rollback();
            }
            var attributes = {
                order_sn : order.

[2015-09-27 15:03] shamasis commented on #17
Let me reproduce this locally.

[2015-09-27 15:39] shamasis commented on #17
I replicated your exact code, just to be sure... but no luck reproducing the issue :-(

Can you double check whether you are using the correct `connection` for the `OrdersModel` in your config?

In my test code I did the following in `local.js`
[code]

I have also attached the zipped archive of my testing code. https://www.dropbox.com/s/iz9wg1h9eam26xw/smt-issue-gh17.zip?dl=0 (PS: You might want t

[2015-09-27 15:39] #17 closed

[2015-11-09 07:38] HomeLH opened #21 "Installation failure"
Hi, when I tried to remove `sails-mysql` and install `sails-mysql-transactions`, something wrong happened. I really want to use the transaction but `sails-mysql` only provide the raw query. I wonder whether someone else also met this problem. My operating system is ubuntu 14.04 LTS.  The error is as follows:

[code]
Thank you very much!

[2015-11-13 08:26] shamasis commented on #21
If you run this command on your directory does it work?

```npm i sails && npm i sails-mysql-transactions```

[2015-11-14 14:22] HomeLH commented on #21
@shamasis Thank you very much. It works well when I installed the sails locally.

[2015-11-14 14:23] #21 closed

[2015-12-21 05:26] shamasis opened #23 "Add support for count number of associations in a many to many relationship."
Something like `model.countOf('collections')`

[2015-12-21 05:27] shamasis opened #24 "Support for .count"

[2015-12-21 05:33] shamasis commented on #1
Have added this to `autoTK` column - as such making it less visible to end model definition, but still being stored in DB. Need to modify waterline to be able to pass connection information from outermost API down to the adapter.

[2015-12-21 05:49] shamasis opened #25 "selection not working on one to many on the one side."

[2015-12-21 05:50] shamasis commented on #25
Refers to .populate(assoc, {select: []})

[2015-12-25 11:42] mikermcneil opened #26 "[reflection] [idea]"
First of all, this module is awesome; amazing work (particularly the depth you went to w/ making instance methods do their thing when amidst a transaction).

I wanted to leave a note here with some reflections on the history and future of transactions in WL core, and also share an idea for some syntactic sugar based on what I learned from WL2.

### Transactions in WL core

Bad news first:  We will

[2015-12-25 17:12] shamasis commented on #26
Really interesting thoughts. Personally, I am glad that we are finally discussing on these. We could really use your help and insight into taking this further forward.

These are a few thoughts from our notes:

1. One use case that has been cropping up (the reason for making transaction as a reference object in our case) - doing transactions across multiple services and model functions. Otherwise,

[2015-12-25 17:18] shamasis commented on #26
Thoughts on our present implementation of transaction.

The majority of transaction logic is written within this adapter. We wanted to have the API handled at the waterline level by adding additional methods for adapter interface. However, that became very tedious as it was super difficult to carry forward any information from userland to the adapterland due to the number of deep clones that happe

[2015-12-25 17:23] shamasis commented on #26
Things we intend to do next:

1. Support `select` query all over the place. This is becoming challenging with my limited understanding of waterline internals.
2. Adding `.countOf` to procure the count of associations without making `select` queries.
3. Adding support for transactions across multiple sources. This we are doing by keeping track of transaction per source level and when one transactio

[2015-12-27 16:30] mikermcneil commented on #26
Sam thanks for the detailed follow up. When you say "across multiple sources", are you taking about the same db?

Eg

1. Let's say you have models called `Farmer`, `Farm`, and `Tree` in a MySQL database called "farming" on a db server in AWS.

2. You also have models called `Wookie` and `Spaceship` in a MySQL database called "starfleet" on the same db server.

3. You have models called `Picture` a

[2015-12-27 16:30] mikermcneil commented on #26
(Oops, didn't mean to close was trying to type in my phone sorry)

[2015-12-28 06:23] shamasis commented on #26
How about one or more models between #1 #2 and #3? Since its same vendor and multiple servers, all we need to track is end commit/rollback status and not depend on vendor's native capabilities.

[2015-12-28 15:05] mikermcneil commented on #26
@shamasis please, tell me more

[2015-12-28 15:11] mikermcneil commented on #26
I think I see what you're saying but to clarify:

1. begin transaction on db1
2. Do a query
3. begin transaction on db2
4.  Do a query
5. If something looks wrong, rollback all.
6. Do more queries
7. Finally at the end, if it all worked, commit all

That totally makes sense, hadn't thought of it. Great idea! I think that even means we could do B, C, and D (since PostgreSQL supports transactions)

[2015-12-28 15:16] mikermcneil commented on #26
The only issue I see is that I don't think the actual commit calls would be truly atomic-- eg if db1 committed but db2 didn't. In other words an unsuccessful commit would mean inconsistent data, whereas in a single-db setup it just means the db thinks that particular transaction never happened.  I think we'd just need to be clear about that in docs, and it would be good

[2015-12-28 15:34] shamasis commented on #26
Yes. I agree to your commit failure related inconsistency. I was of the opinion that it is a very rare case.

[2015-12-29 04:28] mikermcneil commented on #26
I think so too.

[2015-12-30 07:20] shamasis commented on #24
This has been merged with develop and is scheduled for release. Closing

[2015-12-30 07:20] #24 closed

[2015-12-30 07:21] shamasis commented on #16
We just made some headway in this. The newly added `.count` method is completely not reliant on `transactionId` field. Hoping to refactor the rest of the waterline methods to act this way too.

[2015-12-30 10:49] shamasis commented on #25
@mikermcneil - do you have a few minutes to spare on this problem I'm facing?

When doing `sequel.find` with the following instructions, the `select` is not honoured.

[code]

[2015-12-30 14:31] shamasis commented on #25
@mikermcneil - had to fork wl-sequel. Is this change worth pushing to original wl-sequel?
https://github.com/postmanlabs/waterline-sequel/commit/ce232382c803f1dacead0cc0bb796019dc59e25e

Closing it since #28 fixes it.

[2015-12-30 14:31] #25 closed

[2016-01-03 09:17] shamasis commented on #26
@mikermcneil - in our 0.7.0 we bettered support for `select` in waterline for root context criteria as well as strategy 1 and 2 joins. The changes are in waterline `defer.js` as well as waterline-sequel.

https://github.com/postmanlabs/waterline-sequel/commit/ce232382c803f1dacead0cc0bb796019dc59e25e
https://github.com/postmanlabs/waterline-sequel/commit/3be750d6b1290927c55051bd1e374393034a436f

Wo

[2016-01-03 15:17] mikermcneil commented on #26
I think so- let me loop in @particlebanana on that

[2016-01-03 15:19] mikermcneil commented on #26
Only issue I'd see is that we'd need to clarify mongo support in the docs, but seeing as how projections aren't in the docs now anyways..  :p

[2016-01-04 09:28] shamasis commented on #26
@particlebanana - what's your thought?

[2016-01-06 23:09] particlebanana commented on #26
Hey @shamasis so the projection stuff that is there is completely by accident. I don't think anyone ever specifically added it, it works by overriding some stuff we do internally. The api is pretty nasty as well:

[code]

If you have stuff to bring this up to Deferred.js so it looks something like this:

[code]

That would be cool. There is [this](https://github.com/balderdashy/waterline/pull/952/

[2016-01-18 21:57] mikermcneil commented on #26
@shamasis we've got the beginnings of a plan hatched for this-- will follow up on Slack.  In the mean time, I wanted to toss an idea for a tweak to the proposed usage out there to take into account what we talked about on Skype (not needing to know the models involved):
:

[code]

e.g. so basically just expose the atomic equivalent of the subset of `sails.models` that are associated with the speci

[2016-01-20 03:36] shamasis commented on #26
Apologies for this brief and delayed reply. I'm out of town till 27ty with limited connectivity.

@particlebanana - with a specific `.select` in deferred.js how will one use projection within a `.populate`? This has come in very handy for us and we canNot imagine SailsJS in production without the projections.

Also, you are forcing the fluid style API instead of the callback model by doing this.

[2016-01-20 03:50] shamasis commented on #26
@mikermcneil - this new proposal sounds super cool. Its future proof too!

[2016-01-20 05:55] mikermcneil commented on #26
That sounds doable for 1.0 to me unless Im missing something.  @particlebanana I know it'd affect the operation builder (pretty sure it's covered in the integrator already, unless we ripped that out, cant remember offhand)

@shamasis awesome.  We're all pumped about finally getting to a workable plan for this.  Thanks for your help.  Almost got that orm hook ready for you-- keep getting distracted

[2016-01-21 10:15] sobtiankit opened #30 "Where clause in criteria object doesn't cover the ID case, as it does in Waterline"
[code]

errors, while

[code]

works

[2016-01-23 05:35] shamasis opened #31 "Use sails hook to inject Warerline ORM"
Currently the modified waterline is injected using scripts. This is non standard. Replace it with https://github.com/balderdashy/sails-hook-orm

[2016-01-27 16:49] tniezurawski commented on #9
+1

Unfortunately it is still not working on Windows.

@shamasis Any workaround? :)

[2016-01-28 03:55] r0bc4ry commented on #9
+1

[2016-01-28 08:37] shamasis commented on #9
@czardoz - do you wanna give it a shot for Windows compatibility?

It involves two parts:
1. Best practices in scripts and package.json for Windows installation
2. Replacing Waterline injection technique using the `ORM` hook method using - https://github.com/mikermcneil/orm-hook-override-example-general and https://github.com/balderdashy/sails-hook-orm

[2016-01-31 11:46] bblpny commented on #9
I've written hooks before but it feels awfully hacky to have a hook run npm commands to me. I'm not sure how reinit would work either or what event to listen to.

Without really knowing the reason for the other version of waterline or I wonder if just removing the .sh in place of a .js for node to run is better suited as far as supporting all things node does.
https://github.com/bblpny/sails-mysql

[2016-02-07 19:23] bblpny commented on #31
I think this is the most important issue. I'd like to help out but am unsure about the manor of injecting another version of waterline at runtime. Would it literally be doing the same thing as the post install script?

[2016-02-23 12:39] shamasis opened #32 "Way to procure the `diff` object during `.save` or `.update`"

[2016-02-23 12:41] shamasis opened #33 "Waterline 0.11 upgrade"

[2016-02-24 11:02] sapnajindal commented on #26
@shamasis I am having sails application interacting with the mysql database. I am using default ORM waterline and sails-mysql adapter. But i need mysql transactions support which sails-mysql doesnt support currently. I am planning to use sails-mysql-transactions instead of sails-mysql , Will it be a good idea to use it in prod env and is it in a stable form ? And also i have some time constraints,

[2016-02-24 12:10] sapnajindal opened #34 "sails-mysql-transactions issues while integerating"
I am trying to install sails-mysql-transactions. I have uninstalled sails-mysql added sails-mysql-transactions to postscript, already having sails 0.11.4 installed, then also i am not able to install the adapter. Gives an error when i do npm install ,
test-app@0.0.1~postinstall: cannot run in wd %s %s (wd=%s) test-app@0.0.1 npm install sails-mysql-transactions /home/vagrant/www/test-app
- serve-st

[2016-02-28 11:26] shamasis commented on #26
@sapnajindal - changing the adapter is simply changing the name of the adapter in connections.js, followed by updating package.json to install this adapter.

We're using this adapter in production under real heavy load. Also, note that SailsJS is also planning to introduce native transaction support in waterline very soon.

[2016-03-02 06:33] mikermcneil commented on #31
@bblpny it should be ok-- Waterline keeps its hands off the globals for the most part.  The only exception is how the actual adapters are set up (not their fault-- just because they manage connection state).

@shamasis @bblpny re: replacing the ORM hook as a simple example, there's [sails-hook-orm-mongoose](https://github.com/mikermcneil/sails-hook-orm-mongoose) (which really ought to be called sa

[2016-03-02 12:41] mikermcneil commented on #26
Update:

+ See below for example usage.
+ [In-depth overview](https://github.com/node-machine/waterline-driver-interface) of the driver interface, including interface layers, potential errors, and expected result data.  See abstract machines in the source code for info on inputs and exits.
+ [Philosophy & adapters vs. drivers](https://github.com/particlebanana/waterline-query-docs/issues/2#issueco

[2016-03-02 12:47] mikermcneil commented on #26
( btw for more on how this impacts MySQL in particular, see also https://github.com/mikermcneil/machinepack-mysql/blob/master/SYNTAX_NOTES.js )

[2016-03-02 21:48] bblpny commented on #31
@mikermcneil thank you for your reply. I'm familiar with writing hooks and will take a look at the examples you've posted.

[2016-03-05 20:38] svenvarkel commented on #31
This custom postinstall.sh script fails when I'm trying to deploy my application to AWS EB environment. Will the standard approach with hooks resolve this problem?

[2016-03-07 08:43] svenvarkel opened #35 "Add .readonly() support for native queries"
First thanks for good library!

I'd like to have ".readonly()" support for native queries, too. In our application we have a lot of complex queries / DB views where data is queried from. Currently we are executing these with sails.models.amodel.query(sql, parameters) ...

It would be very nice to have support for
sails.models.amodel.readonly().query(sql, parameters) so that native queries could us

[2016-03-11 06:09] shamasis commented on #35
Yes. It will be useful.

[2016-03-11 06:19] shamasis commented on #31
@svenvarkel - it would. But we use this on EB with no problem. What error are you facing?

[2016-03-11 06:22] shamasis commented on #34
Can you post here what does the post install script file look like? Or is it directly in package.json. If yes, then what is the value of post install script in package.json?

[2016-03-11 06:29] svenvarkel commented on #31
It somehow magically started working. I'm using my own fork in package.json

[2016-03-20 01:40] joaolucas89 opened #36 "Transactions not working"
Sometimes the field "transactionId" is not injected in the tables and the transactions do not work. I wonder why.
Thank you.

[2016-03-22 00:55] guretno opened #37 "SSL Support for connecting to MySQL"
Hi,

I'm wondering if sails-mysql-transaction support SSL connection to the database. Using Mysql Client usually SSl connection is made through this command

`mysql -h [db url] --ssl-ca=[full path ca cert] --ssl-verify-server-cert -u [username] -p`

And I try to set the ssl on the configuration file for sails-mysql-transaction
...
user : <db username>
password :<db password>
database:<db name>
ssl

[2016-03-22 11:33] shamasis commented on #37
I am not seeing a code in this where the SSL config is not getting forwarded to original `sails-mysql`... does this work on originals `sails-mysql`? If yes, which version? If not, then I will take this up as a feature request.

[2016-03-22 11:35] shamasis commented on #36
@joaolucas89 - this could happen if there is no value or criteria object to "carry forward" the transaction id. This is super rare. However, I am working on making this work without transactionId in database at all. It is already done for the `.count` function... need to put time to do it for all other methods.

[2016-03-22 11:36] shamasis commented on #36
Marking this as duplicate of #1

[2016-03-22 11:36] #36 closed

[2016-03-22 11:36] joaolucas89 commented on #1
So, Have another solution?

[2016-03-23 00:25] guretno commented on #37
Hi, I saw related bug on sails-mysql and waterline as follows,

https://github.com/balderdashy/sails-mysql/issues/227
https://github.com/balderdashy/waterline/issues/1073

It seems that they support SSL and can have SSL setting in the configuration, please correct me if i'm wrong.

[2016-03-23 19:38] shamasis commented on #37
Great. I'll take this up at the earliest. I'm still not sure why this is not working. I pass all configurations to sails-mysql. Will deep dive. Hope it's not urgent.

[2016-03-23 19:40] shamasis commented on #1
I have a solution but that requires some time for me to implement. I have already implemented a pet while adding support for .count. I will see if I can take this up early next month.

[2016-03-23 22:11] joaolucas89 commented on #1
I have a big project, I'm using your framework and I cant use on development mode. :(

[2016-03-24 01:06] guretno commented on #37
Cool. Thanks, really appreciate your help. Please take your time. :)

[2016-03-24 01:07] guretno commented on #33
The waterline and sails-mysql upgrade to 0.11 might able to solve this slow performance bug. https://github.com/balderdashy/sails-mysql/issues/161

[2016-03-24 04:42] shamasis commented on #1
Hmm. Can you tell me more accurately when is this happening for you? I mean is there a specific pattern when the transaction is failing?

[2016-03-24 04:43] joaolucas89 commented on #1
Transactions isnt working. I use transaction.rollback(); but not work. Just it. :/

[2016-03-24 04:44] shamasis commented on #33
Yes. I've attempted to merge the new upstream. There were quite a few merge conflicts. Hence waiting for an opportune time to do it.

[2016-03-24 04:45] joaolucas89 commented on #1
the field "transactionId" is not being created in the tables.

[2016-03-24 04:47] shamasis commented on #1
Hmm. That is too generic for me to determine the cause of the problem. So, I'm asking a few basic questions:

- Do you have `autoTK` enabled on the models? It is enabled by default?

- Are you using the transact API correctly

[2016-03-24 04:50] joaolucas89 commented on #1
Do you have autoTK enabled on the models? It is enabled by default?
R: I just install your framework, create a config of database, but, nothing work.

Observation: I switched to windows when I was in Linux, it worked smoothly.

[2016-03-24 04:50] shamasis commented on #1
:-o that is a serious problem. Without that field transactions will not work at all.

Can you check whether you are on the latest version of the adapter. I guess it would be 0.8.0? This adapter automatically adds the field to the model unless autoTK is set to false.

One more thing - are you testing this in production or development mode?

[2016-03-24 04:51] joaolucas89 commented on #1
My configs.

database: {
        adapter: 'sails-mysql-transactions',
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'test',
        charset: 'utf8',
        rollbackTransactionOnError: true,
        multipleStatements: true
    }

[2016-03-24 04:52] joaolucas89 commented on #1
My models dont have anything about autoTk, probably this is automatic, right?

[2016-03-24 04:53] shamasis commented on #1
I'm not sure how the OS would influence transactions. You say that the transactionId column itself is not created in table (hope you've directly checked the MySQL database). If that's the case, you should once try running this in "drop" migrate mode (existing data is deleted in this mode.) and see if the columns get created.

[2016-03-24 04:54] joaolucas89 commented on #1
Yes, in development mode I'm using "drop" migrate mode but the column is never created. :'(

[2016-03-24 04:54] shamasis commented on #1
Yes. autoTK is automatic. But sails will not edit your database in production or non-drop migration mode.

[2016-03-24 04:56] shamasis commented on #1
I have no clue what could cause this issue. You mentioned that you got it to work on Windows. So, what are the differences between these two projects?

As of now, I have no clue why the columns are not getting created.

[2016-03-24 05:00] joaolucas89 commented on #1
In production mode is working smoothly. But now, I need to create some tests using transactions.

[2016-03-24 05:03] shamasis commented on #1
Let me check the code and see if I've done anything special for non production mode. As far as I can remember there's no code difference. Unless this is a SailsJS bug or issue with default model migration config.

[2016-03-24 05:08] joaolucas89 commented on #1
Bad news... In production mode is not working... :(

[2016-03-24 05:11] joaolucas89 commented on #1
I tried to put the "autoTK: true" in my models and still nothing works.

[2016-03-24 05:11] joaolucas89 commented on #1
I dont have sails-mysql installed.

[2016-03-24 05:13] shamasis commented on #1
I don't think I can debug the problem with the information I have. I've tried to reproduce the problem but couldn't. Last option is if you can share a scaled down version of your project which is exhibiting the bug.

[2016-03-24 05:14] joaolucas89 commented on #1
What is the minimum version of "sails" for this to work?

[2016-03-24 05:17] shamasis commented on #1
It works with 0.11.1+. We recommend 0.11.5

[2016-03-24 05:18] joaolucas89 commented on #1
Have any problem if the scripts/postinstall.sh is not executed?

In windows I just can install using "npm install sails-mysql-transaction --force"

[2016-03-24 05:20] shamasis commented on #1
hmm. It could be a problem. You must have sails installed first and then install this adapter. So, try installing sails and then install this adapter.

[2016-03-24 05:22] joaolucas89 commented on #1
Sails is already installed.

[2016-03-24 05:24] joaolucas89 commented on #1
{
  "name": "csgoall",
  "description": "a really cool app",
  "private": true,
  "version": "1.0.0",
  "keywords": [],
  "engines": {
    "node": "4.1.1",
    "npm": "2.14.4"
  },
  "postinstall": "npm install --unsafe-perm --prefix ./node_modules/sails waterline && npm install --unsafe-perm --prefix ./node_modules/sails lodash",
  "dependencies": {
    "async": "~0.2.7",
    "bcryptjs": "^2.3.0"

[2016-03-24 06:02] joaolucas89 commented on #1
Any problem?

[2016-03-24 06:28] shamasis commented on #1
Yes. The post install script overrides the special waterline injected into sails by sails MySQL transactions.

[2016-03-24 06:35] joaolucas89 commented on #1
I do it manually using...

npm remove waterline
npm install node_modules/sails-mysql-transactions/waterline

Based on:

pushd "${MOD_DIR}/sails" > /dev/null;
npm remove waterline;
npm install "${MOD_DIR}/sails-mysql-transactions/waterline";
popd > /dev/null;

Still not working :(

[2016-03-24 06:39] shamasis commented on #1
Hmm. Try putting a console log in the sails MySQL transactions waterline scripts. I have a hunch that some other waterline is being used - either installed in root or installed inside sails.

[2016-03-24 06:46] joaolucas89 commented on #1
FIXED!!! You are right!!! Oh god!!!

The problem is, if someone have waterline inside sails, cause this error.

So, you can fix it puting this script in postinstall.sh:

npm remove waterline;
npm install "${MOD_DIR}/sails-mysql-transactions/waterline";
npm remove --prefix "${MOD_DIR}/sails" waterline;
npm install --prefix "${MOD_DIR}/sails" "${MOD_DIR}/sails-mysql-transactions/waterline";

[2016-03-24 06:47] joaolucas89 commented on #1
Something like this!!! :dart:

[2016-03-29 10:00] likun7981 opened #39 "promise support"
promise support create,update and so on ......

[2016-03-29 10:08] likun7981 commented on #39
sorry  !

[2016-04-11 01:44] joaolucas89 opened #40 "Transaction Integrity"
Hello again buddy, I have another question(Yes, is a technical question, not a problem).

How do I know if a transaction works correctly? How do I know if the data is not duplicated if two people simultaneously do on purpose the same request? Supposedly the first request to enter the queue, it has to be processed and the following have to give some kind of mistake, right?

Imagine that two people

[2016-04-11 22:33] joaolucas89 commented on #40
Up

[2016-04-15 20:07] joaolucas89 opened #41 "Transaction in native queries"
Is possible to make transactions with native queries? Example:

`
Model.query('SELECT ...');
`

[2016-04-18 01:30] eightJie commented on #41
I have the same queries...

[2016-04-18 11:20] joaolucas89 commented on #41
U have any problem?

[2016-04-18 11:20] joaolucas89 commented on #41
No one answer me :'(

[2016-04-18 11:30] shamasis commented on #41
No. Not yet. I plan to work on it sometime next month.

[2016-04-18 16:00] joaolucas89 commented on #40
@shamasis ?? :D

[2016-04-18 17:32] shamasis commented on #40
Ah yes. Spotted your question. That's a very interesting question.

If I've read you correctly, you have an item in list A and you want to move it to listB ensuring that it can never happen twice for the same item.

First, ensure all queries are in a transaction. That's a must. Double check your flow to ensure there can never be a bug with it. A good practice would be to ensure that the transactio

[2016-04-18 17:36] shamasis commented on #40
In theory you're creating a pseudo foreign key that is useful for the split second scenarios and utilises MySQLs uniqueness guarantee of a column. It can also be useful in future where you choose to soft delete your items in listA instead of really deleting it.

[2016-04-18 17:38] shamasis commented on #40
You also have another shield - instead of depending on the autoTK feature of this adapter, manually create the trabsacrionId field in your model and add "unique" property to it.

[2016-04-18 18:03] shamasis commented on #40
The trick in this is to include the quantity field. For that - you'll need to create a hashing function that uses an incremental quantity and sale count. Instead of having a balance field where you subtract till zero, have two fields that track sale and quantity and you track till it equalises. Then include the sale number as part of the reference ID in list B.

And create a workflow that never al

[2016-04-19 00:29] joaolucas89 commented on #40
**Imagine if I'm using your adapter.**

itemID is always "unique" in both table because it is a id(item game id) provided by steam, so, never repeat.

**True**

**True**

**Why?**

**R:** I have itemID, is unique in both side. So probably I already have this part OK.

** I have two tables, "Assets" and "AssetsHolding" - Both have the same schema. This was the best way I found **

** The big questi

[2016-04-19 00:32] joaolucas89 commented on #40
**I can't**

In near future I will add a shop cart :-P

[2016-04-19 00:33] joaolucas89 commented on #40
**Is always quantity 0**

And create a workflow that never allows decreasing the quantity field or makes it read-only with new batch of items is added as a new batch of items instead of directly destroying items in listA

[2016-04-19 05:28] shamasis commented on #40
When and where I catch the error? What the line of code? I'm noob here.

If you have the referenceID field in listB, you'll get an error while doing transaction.commit()

[2016-04-19 10:44] joaolucas89 commented on #40
ahmmmmmmmmmmmmmm :-D

I can use a try catch around the "transaction.commit()"? :-D

[2016-04-19 15:58] sapnajindal commented on #26
@shamasis Does this adapter create a transactionId field for all the models? And is it a mandatory field and we need to keep it in our database?

[2016-04-19 19:19] shamasis commented on #26
Yes it auto creates the field. You can turn off auto creation and manually create the field by setting `autoTK: false`.

This is needed. Otherwise, there's now way to correlate queries that are generated during populates and other actions.

[2016-04-19 19:22] shamasis commented on #40
No no. .commit has a callback too!!! ;-) the first parameter is an error (if any)

[2016-04-20 06:21] sapnajindal commented on #26
@shamasis Is there any other change in sails-mysql-adapter with respect to sails-mysql ? We are currently using sails-mysql adapter, it would be great if you can share the impact of changing adapter from sails-mysql to sails-mysql-adapter.

[2016-04-20 06:30] shamasis commented on #26
There are a number of changes. All of them are outlined in README. However there's no breaking change except the installation process.

sails-mysql-transactions does not work unless installed using the postinstall script. This is a limitation for which we have a fix and intend to work on it sometime next month.

[2016-04-20 12:50] sapnajindal commented on #26
@shamasis I checked the Readme, which is saying we get an additional field when we do update for a model and it contains all the previous values. I am facing two problems here:
-- Model.update({id:1},{name:'test'}).exec(function(err,updated,prev){})

If i run the above i get an array of json in updated
 updated :  **[ { id:1,name:'test' } ]**     prev : [{}]

but if i run Model.update({id:1},{name

[2016-04-20 14:59] sapnajindal commented on #26
@shamasis  I tried passing transaction object in values to the model like below
Transaction.start(function(err,transaction){
Model1.transact(transaction).create({name:'fd'},function(err, model1){
Model.create({model1Id:, model1.id, transaction : transaction})
})
})
In Model.js
beforeCreate(values,callback){
Model1.transact(values.transaction).findOne({id: values.model1Id})
}

But by doing this i a

[2016-04-20 15:17] shamasis commented on #26
@sapnajindal - I will go through your comments in details and reply in a separate issue. This issue was not intended to be discussed what we are discussing here. The original issue creator might not be comfortable with the issue topic being hijacked.

[2016-04-20 17:07] sapnajindal commented on #26
@shamasis Agreed! Hoping to get a reply soon as its blocking my work.

[2016-04-21 08:40] sapnajindal commented on #34
@shamasis  Posting my question from previous thread here.

[2016-04-21 08:40] sapnajindal commented on #34
@shamasis I checked the Readme, which is saying we get an additional field when we do update for a model and it contains all the previous values. I am facing two problems here:
-- Model.update({id:1},{name:'test'}).exec(function(err,updated,prev){})

If i run the above i get an array of json in updated
updated : [ { id:1,name:'test' } ] prev : [{}]

but if i run Model.update({id:1},{name:'test'}).

[2016-04-21 08:41] sapnajindal commented on #34
@shamasis I tried passing transaction object in values to the model like below

Transaction.start(function(err,transaction){
Model1.transact(transaction).create({name:'fd'},function(err, model1){
Model.transact(transaction).create({model1Id:, model1.id, transaction : transaction})
})
})
In Model.js

beforeCreate(values,callback){
Model1.transact(values.transaction).findOne({id: values.model1Id})
}

[2016-04-21 08:45] sapnajindal commented on #34
@shamasis  In the readme, its mentioned that whenever we update sails we need to reinstall this adapter as well. I didnt get this thing.
If i do sails update, by post install script , should i update the sails-mysql-transaction version as well?
Its not very much clear.

[2016-04-21 09:43] shamasis commented on #34
@shamasis In the readme, its mentioned that whenever we update sails we need to reinstall this adapter as well.

-- this adapter injects its own version of Warerline into sails. So, if you reinstall sails, that injection will be gone. So, you'll need to simply run NPM install sails-mysql-transactions again.

[2016-04-21 09:47] shamasis commented on #34
.then does not support the previous value yet as it was not there in original waterline. Feel free to submit a PR for this as it will take a while for me to get around to supporting this.

[2016-04-21 09:58] shamasis commented on #34
That's not a right way of using transact function. The transact function expects the transaction object returned when you did Transaction.start

So, find a way to forward this object to the model service.

[2016-04-22 07:54] sapnajindal commented on #34
@shamasis I am getting following error -

[code]

I am not able to figure out why? And also this error goes when i reload the application

[2016-04-22 08:17] sapnajindal commented on #34
@shamasis We are using sails-db-migrate in my application for sails, i get this error ;

[code]

This is a severe problem, Please suggest a way by which i can use migrations with this adapter.

[2016-04-22 11:41] sapnajindal commented on #34
@shamasis Regarding
`AdapterError: Invalid connection name specified`

Please Provide a reason for the above error, i am getting this error quite a lot of times now. Not able to figure out the reason.

[2016-04-22 12:03] sapnajindal commented on #34
@shamasis

I am having a find Query to fetch all the values, like -
`Model.find().populate('model1').populate('model2')`

With sails-mysql adapter it was working very much fine, but with using sails-mysql-transactions, its taking way too much time to fetch the data, in the end gives the error below:

[code]

[2016-04-22 12:06] shamasis commented on #34
Unlikely, since sails-mysql-transactions uses sails-mysql inside.

[2016-04-22 12:12] sapnajindal commented on #34
@shamasis I am using sails db migrate for migrations which sails-mysql-transactions dont support. Thats why i am using a different connection for migrations using sails-mysql. I have not installed sails-mysql , its using the one present in your module.
My local.js looks something like below -

[code]

[2016-04-22 12:13] sapnajindal commented on #34
@shamasis  Any clue on -
`AdapterError: Invalid connection name specified`

[2016-04-22 13:19] sapnajindal commented on #34
Actually, this query is having a lot of data which sails-mysql is able to load, but sails-mysql-transactions is not. Is there any data limit for the query in your modue?

[2016-04-22 13:47] shamasis commented on #34
There's no limit I know.

[2016-04-22 15:44] sapnajindal commented on #34
@shamasis It has. Try a find query without filter with table having around 600 rows.

[2016-04-22 17:05] shamasis commented on #34
We usually query over 10k rows as well. I will check though.

[2016-04-22 17:06] sapnajindal commented on #34
querying 10k rows without filters works fine?

[2016-04-22 17:08] shamasis commented on #34
Yes. But that doesn't mean your case should work too. There are a number of other factors.

[2016-04-22 17:09] sapnajindal commented on #34
Okay, so how do i know about the culprit?

[2016-04-22 18:07] shamasis commented on #34
Try running the NodeJS debugger and step through your code to see where it is failing.

[2016-04-22 18:48] sapnajindal commented on #34
I did that,
If i run the following query
`Model.find().populate('model1').populate('model2').limit(100)`
It works fine, but if run the above query without limit, it time outs
`Model.find().populate('model1').populate('model2')`

[2016-04-25 14:45] joaolucas89 commented on #40
Nice ;)

[2016-04-25 14:46] joaolucas89 commented on #40
How can I use transactions in table in one to many relationship?

[2016-04-25 20:44] shamasis commented on #40
Same way as others. .populate works just fine. Model.transact(transactionObj).populate(association).exec(…);

[2016-04-26 05:01] sapnajindal commented on #34
@shamasis Did you check the above query? Can you please check if using populate makes the query slow on your side too?
Its creating a lot of problem

[2016-04-26 05:31] shamasis commented on #34
Checked. Populate makes it slow by an expected amount.

[2016-04-26 17:21] sapnajindal commented on #34
@shamasis But this was not as slow with sails-mysql, Whats the difference sails-mysql-transactions making?

[2016-04-26 18:02] shamasis commented on #34
Can you try doing slow query logging and other debugging at MySQL level? Also, hope your columns that you're searching on is indexed.

[2016-04-28 02:58] ityao opened #42 "sails updated the waterline version!!!"
Is there have a new version of waterline in this package?

root@iZ234rzua93Z:~/51qf/server# npm ls
npm WARN unmet dependency /alidata1/51quanfan/server/node_modules/sails/node_modules/sails-hook-orm requires waterline@'~0.11.0' but will load
npm WARN unmet dependency /alidata1/51quanfan/server/node_modules/sails/node_modules/waterline,
npm WARN unmet dependency which is version 0.10.19-postman.10

[2016-05-03 14:44] joaolucas89 commented on #40
Nice :)

Another way, how to use this adapter to put/remove user balance?

Normally I do something like that.

`Update user set balance = balance - X where id = 1;`

[2016-05-03 16:24] shamasis commented on #40
Unless you're doing multiple queries, you'd do it the same way you'd do with the regular sails-MySQL adapter.

[2016-05-03 16:27] shamasis commented on #40
Hey - this thread is becoming too long to be comprehensible for others reading it. Can we close this and for other questions create new issues?

Cheers!

[2016-05-05 13:05] shamasis commented on #42
@ityao which version of sails are you on? we are not yet ready for sails 0.12. :-/

[2016-05-06 17:19] joaolucas89 opened #43 "Transactions vs User balance"
What is the best idea to use the "sails-mysql-transactions" to add or remove value of a column? I want to remove balance / add.

I'm making a purchase / sale module.

[2016-05-12 02:16] joaolucas89 commented on #43
UP

[2016-05-13 06:01] tarunjadhwani commented on #42
We are using it with 0.12.1 in production? :-o

[2016-05-19 13:52] mikermcneil commented on #37
Looking at this in this in the main repo soon-- it looks like we just need to pass through other options to felixge when we create the connection/pool (it's a different config dictionary). Heads up: that's just a cursory glance though-- haven't verified the problem yet from this end.

[2016-05-19 13:54] mikermcneil commented on #37
Actually... After a second look, I think the issue you're experiencing is more of a cloneDeep thing. It's a different dictionary, but it's nested: https://github.com/felixge/node-mysql/blob/master/Readme.md#ssl-options

[2016-05-19 13:59] mikermcneil commented on #37
Ok so I think what's going on is that the ssl example provided in the node-MySQL readme shows reading the ssl crt as a buffer, but for it to work, it needs to be read in as a string. For the short term, I'll work on documenting this-- for slightly further out, the cloning in waterline core can help make for a better experience here by acknowledging that, like Jon Snow, it knows nothing about buffe

[2016-05-29 12:42] sobtiankit opened #44 "Model.create(Array) doesn't seem to be supported"
As per Waterline documentation (https://github.com/balderdashy/waterline-docs/blob/master/queries/query-methods.md#create-criteria-callback-), multiple creates can be made using a single WL create.

When this is done with sails-mysql-transaction, however, the transaction is not honoured (transactionId in the database is blank)

[2016-06-04 15:07] shamasis opened #45 "Support for `.count` in .readonly() model instance"

[2016-06-16 12:49] sapnajindal commented on #34
@shamasis I am having unit test cases using mocha in my application, for those i am creating a testDb. I have created two connections using sails-mysql-transactions adapter.
connections -
`testDb: {
    adapter: 'sails-mysql-transactions',
    host    : 'localhost',
    port    : 3306,
    user    : 'username',
    password: '',
    database: 'consumer_payment_test'
  },
mysqlDbDev: {
      adapte

[2016-06-24 07:12] joaolucas89 commented on #43
Hello? Need a urgently help here :-(

[2016-06-30 16:47] azarus opened #48 "Transactions doesn't work between multiple connections?"
How to make it work?

[2016-06-30 16:49] shamasis commented on #48
Assuming you meant multiple databases. No. It won't as of now. The following work is needed in this adapter to do it:

1. support multiple connections (originally this was written to support only one database)
2. create a transaction pool so that transaction spanning across multiple databases could behave like a single transaction

[2016-06-30 16:54] azarus commented on #48
Let's say i have a code like this just to simulate my current situation:
[code]
Well when i set the transactionConnectionLimit to 1 it works just fine, but if i set it to 10 the transactions doesn't lock the table. So my balance only gets deducted by -10 instead of -100

[2016-06-30 17:01] shamasis commented on #48
That's odd! Could it be because the underlying connection pool returns the same connection if requested too fast?

I will need to try this out and step through waterline and the adapter to see what is causing this.

PS: You have a misplaced semicolon at the end of `for(var i=0;i<10;++i)`

[2016-06-30 17:03] azarus commented on #48
I think It's because the connection pool returns a different connection, for each transaction. And transactions are not shared between connections?

[2016-06-30 17:12] shamasis commented on #48
yes. transactions cannot be shared between connections. but multiple connections work. I am using it myself. This has got to do something with starting transactions too fast in for loop (and something interfering with that.)

[2016-06-30 18:24] azarus commented on #48
Any solution to the problem? :/

[2016-07-01 02:32] shamasis commented on #48
Try creating the transactions slowly - with a timeout - at least if it works we will know the root cause.

[2016-07-02 07:53] sapnajindal commented on #34
@shamasis Any idea of the above warning?

[2016-07-02 08:11] shamasis commented on #34
This adapter does not support multiple DB.

[2016-07-02 08:11] #34 closed

[2016-07-06 07:13] aayush-practo opened #49 "Travis build failing while installing sais-mysql-transaction"
I am using node@4.4.4, npm@2.15.1 and nvm@0.31.0.
Package json has following scripts:

[code]

Travis build is throwing following error while installing sails.
[code]
Please provide the abrupt solution

[2016-07-06 07:16] sapnajindal commented on #49
@shamasis Please look into the above issue.

[2016-07-06 07:21] shamasis commented on #49
Seems like NPM is failing to install - regescape library! `https://registry.npmjs.org/escape-regexp/-/escape-regexp-0.0.1.tgz`

Can you check which module needs it and whether you can install `escape-regexp@0.0.1`?

[2016-07-06 07:23] aayush-practo commented on #49
I am able to install the package locally with command `npm install escape-regexp@0.0.1`

[2016-07-06 07:25] shamasis commented on #49
So which module needs it? `npm ls` should show you the tree!

[2016-07-06 07:33] aayush-practo commented on #49
npm ls does not show escape-regex related to any module, sails is installing the package though, well other package which is throwing 502 is  `machinepack-urls` which belongs to module `sails-hook-sockets`

[2016-07-06 07:36] shamasis commented on #49
Give it some time. It could be a regional NPM outage or travis network issue. I tried installing sails locally and it worked fine. Have triggered a travis build and seems it crossed the install stage.

[2016-07-06 07:44] aayush-practo commented on #49
Okay. Thanks @shamasis

[2016-07-06 11:54] sapnajindal commented on #49
@shamasis  Seems like it was travis network issue indeed. It got fixed by itself.
Thanks for the help.

[2016-07-07 10:18] sobtiankit commented on #32
This has a problem with converted attribute datatypes e.g. array. I have an attribute, let's call it A, which is of:

1. type: 'array'
2. defaultsTo: []

the diff object always includes A with the value ["[]"] (empty array string inside an array).

[2016-07-11 15:08] joaolucas89 commented on #41
news?

[2016-07-11 15:14] joaolucas89 commented on #44
Use foreach...

[2016-07-13 07:41] shamasis commented on #41
Nothing yet. Other items got in the way. But it is on my roadmap.

[2016-07-15 03:50] ityao commented on #42
0.12.3

[2016-07-29 12:01] hielfx commented on #39
Doesn't the adapter support Bluebird promisses? Do we have to use nested .exec(...) instedad?

[2016-07-29 12:39] hielfx opened #50 "Model.create() saves the data in the database before using transaction.commit()"
Hi all,
I am using the adapter and started a transaction. The transacion creates successfully but when I execute Model.create() it records the data in the database instead of waiting for transaction.commit().
I've even tried to execute a rollback() inmediately after Model.create() with failure.

Do you guys have any clue why is this happening?

PS: This is some pseudo code i am using
[code]

[2016-08-01 11:58] hielfx commented on #1
Is there any way to avoid inserting a 'transactionId' column in the database? I don't really want to add that column to all of my models in the database, thought I have autoTK: false in the models it still fails because:
[code]

[2016-08-05 11:21] hielfx commented on #50
I was able to solve this thanks to solve this thanks to https://github.com/postmanlabs/sails-mysql-transactions/issues/1#issuecomment-200697241 (executing the commands and after that executing ```npm install sails``` again) and following this structure:

[code]

[2016-08-05 11:21] #50 closed

[2016-08-08 06:15] eightJie opened #51 "Incorrect integer value for column 'transactionId'"
[Error (E_UNKNOWN) Encountered an unexpected error] Details: Error: ER_TRUNCATED_WRONG_VALUE_FOR_FIELD: Incorrect integer value: 'b755f847-0fa9-4efa-aab8-3e6a475d98b4' for column 'transactionId' at row 1

[2016-08-09 06:01] sobtiankit opened #52 "Model._model() does not seem to work"
As outlined by Mike in: https://github.com/balderdashy/sails/issues/1269#issuecomment-31682165

Getting a typeError or _cast error

[2016-08-12 03:14] eightJie commented on #51
what is the data type of transactionId?

[2016-09-24 11:25] thuanitdn commented on #44
+1

[2016-09-24 11:32] thuanitdn opened #57 "Transaction not working with create model"
Hi Sorry for my english .
When i create a data for model a. In this case , i try make another model with find error but transaction not working (blank data not working for model a)

[2016-10-25 09:56] czardoz opened #58 "Promise.exec sometimes does not work"

[2016-10-25 17:47] DevelopFer commented on #21
@shamasis  Thank You, I had the same problem, npm i sails && npm i sails-mysql-transaction works GREAT!!

[2016-10-25 18:35] shamasis commented on #21
It's high time we fix it. It's actually a lot of work to completely override waterline of sails. We will start work on it … someday. 😞

[2016-10-25 18:36] shamasis commented on #58
@czardoz whenever you encounter it, can you append to a list here. Would help detect pattern and fix faster.

[2016-10-25 18:37] shamasis commented on #39
Yes. That's not a feature of the adapter. It's how SailsJS waterline is built.

[2016-10-25 18:37] #39 closed

[2016-11-01 08:46] blackmatch opened #59 "console log queries"
hello everyone,
I want to log every query when I use sails normal model methods(such as: Model.create(),Model.update). Can I just setup some config for 'sails-mysql-transactions' to implement this? I really need this. Anyone can help me ?

[2016-11-06 00:54] jyyan commented on #59
how about try to launch sails with command below :

`LOG_QUERIES=true NODE_ENV=development sails l`

[2016-12-13 12:43] sam9291 commented on #9
+1

Any update on this issue?

[2016-12-13 12:59] czardoz commented on #9
@sam9291 it's not on the immediate roadmap, but we will accept pull requests for this issue :-)

[2016-12-16 14:34] sam9291 opened #61 "Rollback many-to-many (association table) not working"
I've tested a simple scenario with two models `Dog` and `Bone` (many-to-many association) and I can't get it to rollback.

Here are my two models:
[code]

And here is my test using the framework to try to rollback a modification to the association:
[code]

I've tested both with the `Promise` and the `exec` syntax and both are having the same issue.

Here is the output result:

[code]

[2017-03-01 23:59] mikermcneil commented on #26
Update! https://github.com/balderdashy/sails-docs/blob/7fbfaac9ee0d30f9e02384bf8bdee74e52b422f0/reference/waterline/datastores/transaction.md

Obviously I realize there's things you guys will need to do to be able to make the switch, but I just wanted to let you know the usage is in place and documented 👍

[2017-04-19 09:41] ratpik opened #64 "Error while trying to use Model.stream"
While doing `MyModel.stream({user: user_id}).pipe(theSocket>);` this module throws an error. I'm trying to stream waterline models as [discussed here](http://sailsjs.com/documentation/reference/waterline-orm/models/stream). Trace below:

[code]

[2017-04-24 16:58] ghost commented on #37
@mikermcneil Is there any progress on addressing this?  I'm on Sails v.0.12.13 and can't connect to mySQL over SSL using the sails-mysql adapter.  Was hoping there might be a solution soon.

A fix seems to have been created here (comment reply by username "cludden" on July 1, 2015):
https://github.com/balderdashy/waterline/issues/1073#issuecomment-117819221

[2017-06-07 14:46] annuay opened #65 "Sails-mysql-transactions installation fails in postinstall stage"
NPM error while running the postinstall script.

Details:
my-pc$ npm i sails && npm i sails-mysql-transactions
npm WARN gentlyRm not removing /Users/annuay/Kapitalwise/sailsmysqltesting/versions_of_code/kw_web_services_version_3/node_modules/sails/node_modules/.bin/grunt as it wasn't installed by /Users/annuay/Kapitalwise/sailsmysqltesting/versions_of_code/kw_web_services_version_3/node_modules/sa

[2017-07-26 09:49] guretno commented on #37
Hi @mikermcneil ,I have upgraded my project in SailsJS to Sails v1.0 and able to use DataStore.transactions using sails-msyql 1.0.0-14 (http://next.sailsjs.com/documentation/reference/waterline-orm/datastores/transaction).

But I still can't find any documentation on how to setup the SSL encrypted connection. Does it already supported on this version? Really appreciate if there's any cursor/enligh

[2017-11-14 10:47] andrei-tara commented on #65
same issue here :(

[2017-11-14 10:53] annuay commented on #65
I do not have a real fix to the issue. However, I feel that it is related to npm version. I downgraded the npm version to 4.1.2 (and node 8.1.1) and it installed fine.

[2017-11-14 10:55] andrei-tara commented on #65
It really sucks because I need transactional support and I can't change the node version  :|

[2017-11-18 12:03] shamasis opened #67 "Feature Request: Support for connectionLifetime option"
The idea is to `destroy` a connection from a pool once it has stayed connected for a specified duration of time.

- we need to accept this option
- we need to listen to the `connection` event in pool and set the current time in it
- listen to the `release` event of pool and check if current time is - created time is > lifetime option.
- if yes to above, then do connection.destroy()

Ref:
https://g

[2017-11-18 12:07] shamasis opened #68 "v0.9.1 does not work under certain conditions"
Need to discuss/test and collect the issues that 0.9.1 has.
Fix them. :-)

[2018-03-13 18:56] AskYous opened #69 "npm ERR! Could not install from "node_modules/sails-mysql-transactions/waterline" as it does not contain a package.json file."
**Operating System:** iOS
**Node version**: v9.7.1
**NPM version**: 5.7.1

---

The following error occurs when I try installing `sails-mysql-transactions` by running `sudo npm install sails-mysql-transactions --save`:

---

[code]
Here is [my log file](https://gist.github.com/AskYous/15eeb7f3e20b6a988c8c816eacd54dd1).

[2018-05-16 20:38] dreamkyr commented on #69
I have exactly same issue.
node v10.1.0,
npm v5.6.0,
MacOS 10.13

[2018-06-28 16:41] kunagpal commented on #69
Hey @AskYous @thomasgit123 Sails v1 comes with inbuilt support for transactions, as can be seen here: https://sailsjs.com/documentation/reference/waterline-orm/datastores/transaction.

[2019-04-01 02:05] dickens8484 commented on #9
have any solution for can not install for windown ?

[2019-04-01 09:18] #69 closed, assigned to nobody

[2019-12-03 14:08] aptro commented on #26
@shamasis is there a way we can support replica configuration for Postgres adapter.

@mikermcneil support for database replica configuration in sails/waterline's roadmap?

[2020-03-31 02:03] #59 closed